@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    font-family: 'Roboto Slab', serif;


}

.main-keeper {
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 10px;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.card-deck {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}



.single {
    padding: 25px;
    transition: 0.6s;
}

.single:hover {
    transform: scale(1.1);
    color: #272727;

}

.breaking-line {
    height: 350px;
    width: 7px;
    background-color: #747474;
    margin-top: 155px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    max-width: 770px;
    flex-direction: column;
}

.skill-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 394px;
}

.single i {
    padding: 4px;
    color: #FF652F;
    font-size: 135px;
}

.skills h3 {
    min-width: 550px;
    text-align: center;
    font-size: 48px;
    color: #747474;
}



.horizontal {
    display: none;
    background-color: #747474;
    width: 50vw;
    height: 5px;
    margin-top: 45px;
}

.other-info {
    margin-top: 28px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #747474;
    flex-direction: column;

}

.other-info h2 {
    font-size: 48px;
    margin: 5px 10px;
}

button:focus {
    outline: 0;
}

.big-one {
    font-size: 50px;
    margin-top: 15px;
    border: 4px solid #FF652F;
    padding: 15px;
    font-weight: bolder;
    background-color: #272727;
    color: #747474;
    border-radius: 100px;

    transition: .8s ease-in-out;

}

.big-one:hover {
    color: #FF652F;
}


.extra {
    text-align: center;
    margin-top: 222px;
    opacity: 0;
    padding: 9px;
    border: 5px solid #FF652F;
    animation: 1s slifefade .8s forwards;
}

.extra h4 {
    font-size: 25px;
}

.extra h5 {
    font-size: 20px;
}

.extra h5::before {
    content: ' ';
    background-color: #FF652F;
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    margin-right: 6px;
    margin-bottom: 3px;
}

@keyframes slifefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}


@media (max-width: 1554px) {


    .breaking-line {
        height: 480px;
        margin-top: 185px;
    }
}


@media (max-width: 1054px) {

    .card-deck {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .breaking-line {
        display: none;
    }

    .horizontal {
        display: inline;
    }
}

@media (max-width: 595px) {
    .skills h3 {
        min-width: 300px;
    }

    .container {
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .single {
        padding: 10px;
    }


}

@media (max-width:571px) {


    i {
        font-size: 90px;
    }

    .skills h3 {
        font-size: 37px;
    }

    .card-deck {
        padding: 0;
    }

}


@media (max-width:400px) {


    .container {
        margin: 0;
    }

    .skills {
        padding: 5px;
    }

}